// Colores
$color-fondo: #fefefe;
$color-texto: #333;
$color-texto-secundario: #444;
$color-violeta: #6a1b9a;
$color-footer-fondo: #6a1b9a;
$color-link: #007bff;
$color-fondo-imagen: #e9ecef;

// Fuentes
$font-principal: 'Quicksand', sans-serif;
$font-secundaria: 'Fredoka', sans-serif;
$font-headers: 'Verdana', sans-serif;

// Tamaños
$foto-grupo-max-width: 400px;
